.portfolio {
  background-color: #160a22;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;

  .bg-img-p {
    position: absolute;
    top: -155px;
    left: 0px;
  }
}

.main-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  top: 50px;
  align-items: center;
  overflow: hidden;

  h1 {
    color: rgba(255, 81, 78, 1);
    font-size: 2.8rem;
    text-align: center;
  }

  ul {
    margin-top: 100px;
    display: flex;
    justify-content: center;
  }
}
.portfolio .container {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  .item {
    width: 250px;
    height: 200px;
    border-radius: 20px;
    border: 1px solid rgb(240, 239, 239);
    margin: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    transition: all 0.5s ease-in;

    h3 {
      position: absolute;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 1;
    }
    &:hover {
      background-color: #160a22;
      img {
        opacity: 0.2;
        z-index: 0;
      }
    }
  }
}
.anim-div-p {
  width: 100%;
}
