.admin {
  background-color: #fafcff;
}

// =================== Admin Nav ===================== //

.nav-con {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(177, 175, 175);
  padding: 0 10px;

  .userName {
    display: flex;
    align-items: center;
  }

  .userName i {
    font-size: 20px;
    margin-right: 10px;
    color: rgba(255, 81, 78, 1);
  }

  h4 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0;
    text-transform: uppercase;
    color: rgba(255, 81, 78, 1);
  }
}

.nav-link {
  color: rgba(255, 81, 78, 1);
  font-weight: 600;
  margin: 0 15px;
}

.nav-link:hover {
  color: rgb(180, 174, 174);
}

.logout-btn {
  background-color: rgba(255, 81, 78, 1);
  color: white;
  font-weight: 500;
  padding: 5px 15px;
  border-radius: 5px;
  margin-left: 50px;
  transition: all 0.1s ease-in;
}
.logout-btn:hover {
  color: white;
  border-bottom: none;
  background-color: rgb(226, 69, 67);
  transform: scale(0.98);
}

.tab_hover:hover {
  background-color: #e9f0fa;
}
