.usersData {
  background-color: #fafcff;

  .table {
    margin-top: 50px;
  }
}
.alert_con {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(2, 2, 2, 0.7);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.alert-danger {
  width: 500px;
  height: 200px;
  padding: 30px 40px;
}
