.contact {
  background-color: white;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;

  .contact-bg {
    width: 100%;
    position: absolute;
    bottom: -200px;
  }

  .contact-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .contact-left {
      flex: 0.5;
      width: 100%;
      height: 100%;

      display: flex;
      justify-content: center;
      align-items: center;

      .con-form {
        width: 450px;
        height: 580px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px 50px;
        background-color: #eae4f0d7;
        color: rgba(255, 81, 78, 1);
        border-radius: 20px;
        box-shadow: 0px 5px 9px 0px rgba(50, 50, 50, 0.45);
        position: relative;

        h1 {
          font-size: 1.6rem;
        }

        .form-control {
          width: 350px;
          margin-top: 18px;
          border: 1px solid rgb(207, 205, 205);
          outline: none;
          font-size: 1rem;
        }

        .errorMsg-name {
          position: absolute;
          top: 110px;
          right: 60px;
          margin-top: 5px;
          font-size: 0.9rem;
          font-weight: bold;
        }

        .errorMsg-email {
          position: absolute;
          top: 168px;
          right: 60px;
          margin-top: 5px;
          font-size: 0.9rem;
          font-weight: bold;
        }

        .errorMsg-msg {
          position: absolute;
          top: 225px;
          right: 60px;
          margin-top: 5px;
          font-size: 0.9rem;
          font-weight: bold;
        }

        .inputName,
        .inputEmail {
          height: 40px;
          padding: 5px 10px;
          border-radius: 5px;
        }
        .inputSubmit {
          height: 40px;
          width: 350px;
          padding: 5px 10px;
          border: none;
          background-color: rgba(255, 81, 78, 1);
          color: white;
          font-size: 1.2rem;
          font-weight: 300;
          border-radius: 5px;
        }
        .inputMessage {
          padding: 5px 10px;
          border-radius: 5px;
        }
      }
    }
    .contact-right {
      flex: 0.5;
      display: flex;
      align-items: center;
      justify-content: center;

      .con-img {
        margin-top: 100px;
        width: 700px;
      }
    }
  }
}
.anim-div {
  width: 50%;
  height: 100%;
}
