@import "../../global.scss";
.navbar {
  padding: 0;
  margin: 0;
  background-color: #160a22;
  width: 100%;
  height: 90px;
  position: fixed;
  top: 0;
  z-index: 10;
  overflow: hidden;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
}

.wrapper {
  padding: 10px 80px;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.left {
  width: 55 px;
  height: 70px;
  overflow: hidden;
}

.logo {
  width: 55px;
  height: 70px;

  img {
    width: 52.83px;
    height: 70px;
  }
}

.right {
  .links {
    display: none;
    position: absolute;
    top: 0px;
    right: 100px;
  }
  .links li {
    padding: 34px 15px;
    margin-left: 3em;
    transition: all 1.5s ease;
  }

  .links li a {
    padding: 34px 15px;
    color: white;
    text-decoration: none;
    font-weight: 500;
  }
}
.links li:hover {
  background: linear-gradient(
    0deg,
    rgba(255, 81, 78, 1) 0%,
    rgba(255, 81, 78, 0.7) 20%,
    rgba(255, 81, 78, 0.5) 40%,
    rgba(255, 81, 78, 0) 100%
  );
}
.hamburgerbar {
  width: 32px;
  height: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 30px;
  right: 80px;
  cursor: pointer;

  span {
    background-color: $textColor;
    width: 100%;
    height: 3px;
    transform-origin: left;
    transition: all 1.5s ease;
  }
}

.active {
  .hamburgerbar {
    span {
      &:first-child {
        transform: rotate(45deg);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:last-child {
        transform: rotate(-45deg);
      }
    }
  }
}

.login {
  position: absolute;
  right: 30px;
  top: 38px;
  color: #382946;
}

.login:hover {
  color: rgba(255, 81, 78, 1);
}

@media only screen and (min-width: 992px) {
  .hamburgerbar {
    display: none;
  }

  .wrapper .links {
    display: flex;
  }
}
