.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  .login-form {
    width: 35%;
    height: 75%;
    border: 1px solid rgb(237, 237, 240);
    border-radius: 10px;
    padding: 30px 40px;
    box-shadow: -1px 4px 13px -1px rgba(0, 0, 0, 0.1);
    position: relative;

    h3 {
      color: rgba(255, 81, 78, 1);
      font-weight: 600;
    }

    .form-group,
    .btn {
      margin-top: 20px;
    }

    .btn {
      background-color: rgba(255, 81, 78, 1);
      border: 1px solid rgba(255, 81, 78, 1);
    }
    .btn:hover {
      background-color: rgb(241, 73, 70);
      border: 1px solid rgb(241, 73, 70);
    }

    .errorMsg-email-l {
      position: absolute;
      top: 225px;
      right: 60px;
      margin-top: 5px;
      font-size: 0.9rem;
      font-weight: bold;
      color: red;
    }

    .errorMsg-password {
      position: absolute;
      top: 312px;
      right: 60px;
      margin-top: 5px;
      font-size: 0.9rem;
      font-weight: bold;
      color: red;
    }

    .errorMsg-username {
      position: absolute;
      top: 135px;
      right: 60px;
      margin-top: 5px;
      font-size: 0.9rem;
      font-weight: bold;
      color: red;
    }

    .errorMsg-password2 {
      position: absolute;
      top: 402px;
      right: 60px;
      margin-top: 5px;
      font-size: 0.9rem;
      font-weight: bold;
      color: red;
    }
  }
}

.loginErr {
  position: absolute;
  top: 190px;
  color: red;
}
