.ad_portfolio {
  background-color: #fafcff;
}

.veiw-portfolio {
  text-decoration: none;
}

.veiw-portfolio:hover .portfolio_con {
  text-decoration: none;
  transform: scale(0.995);
  box-shadow: 1px 2px 3px 2px rgba(0, 0, 0, 0.09);
  // border: 1px solid rgb(187, 184, 184);
}

.portfolio_con {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 200px;
  padding: 20px 30px;
  margin: 20px 0;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 5px 11px 2px rgba(0, 0, 0, 0.08);
  transition: all 0.1s ease-in;

  .img_con {
    background-color: rgb(224, 214, 214);
    width: 150px;
    height: 150px;
  }

  .portfolio_content {
    width: 78%;

    h4 {
      color: rgb(226, 69, 67);
    }

    h6 {
      color: rgb(153, 148, 148);
    }

    p {
      font-size: 0.9rem;
      color: rgb(98, 98, 98);
    }
  }
}

.ad_p_heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;

  h2 {
    margin: 0;
  }
}

.curd_btn {
  // border: 1px solid rgba(255, 81, 78, 1);

  height: 100px;

  .edit_btn {
    background-color: rgba(255, 81, 78, 1);

    text-align: center;
    padding: 10px 15px;
    color: white;
    margin-bottom: 5px;
    transition: all 0.1s ease-in;
  }

  .del_btn {
    background-color: rgba(255, 81, 78, 1);
    text-align: center;
    padding: 10px 15px;
    color: white;
    transition: all 0.1s ease-in;
  }

  .edit_btn:hover,
  .del_btn:hover {
    background-color: rgb(226, 69, 67);
    transform: scale(0.98);
  }
}

.portfolioNav {
  display: flex;
  margin: auto;
  width: 80%;
}

.portfolioView {
  display: flex;
}

.img-con {
  flex: 50%;
  padding: 50px 30px;
  align-self: center;
  border: 1px solid rgb(226, 224, 224);
}

.portfolio-detail {
  flex: 50%;
  padding: 50px 50px;
  align-self: center;

  h4 {
    color: rgb(226, 69, 67);
    font-size: 2rem;
  }

  h6 {
    color: rgb(153, 148, 148);
    font-size: 1.5rem;
  }
  p {
    font-size: 1.1rem;
    color: rgb(105, 104, 104);
  }
}

.back_btn {
  margin-bottom: 30px;
  display: flex;
  align-items: center;

  span {
    margin-left: 6px;
    margin-bottom: 0;
  }
}

.add_portfolio_con {
  width: 50%;
  margin: auto;
  border: 1px solid rgb(226, 224, 224);
  border-radius: 10px;
  padding: 40px 50px;
  box-shadow: 1px 5px 11px 2px rgba(0, 0, 0, 0.08);
  .form_con {
    .form-group {
      margin-bottom: 15px;
    }
  }
}
