.work {
  background-color: #160a22;
  margin: 0;
  padding: 0;

  .work-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .left {
    flex: 0.5;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;

    img {
      width: 606px;
      height: 383px;
    }
  }

  .right {
    flex: 0.5;
    height: 100%;
    display: flex;
    flex-direction: column;

    align-items: center;
    position: relative;
    overflow: hidden;

    .resume-con {
      height: 100px;
      width: 100%;
      margin-top: 50px;
      overflow: hidden;
    }

    .resumeNav {
      margin-bottom: 0;
      padding: 1.5rem;
      display: flex;
      justify-content: center;
      color: white;
      height: 100px;
    }

    .resumeLink {
      padding: 5px 50px;
      // background-color: rgb(206, 43, 40);
      font-size: 1.1rem;
      border-bottom: 1px solid #331c49;
      height: 45px;
      box-shadow: 0px 19px 12px -11px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease-in-out;
    }
    .rLink-1-active {
      border-bottom: 1px solid rgb(218, 62, 60);
      color: rgb(218, 62, 60);
    }
    .resumeLink:hover {
      border-bottom: 1px solid rgb(218, 62, 60);
      color: rgb(218, 62, 60);
    }

    .content-work,
    .content-edu,
    .content-skills {
      display: none;
    }

    .active {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 100%;
      padding: 1rem;
      overflow: hidden;
    }

    .work-con {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      // background-color: rgba(182, 173, 173, 0.705);
    }
    .edu-con {
      width: 100%;
      height: 300px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      overflow: hidden;
    }

    .exp-box,
    .edu-box {
      padding: 10px 20px;
      overflow: visible;
      width: 600px;
      
      margin: 10px;
      border-radius: 10px;
      background: linear-gradient(
        295deg,
        rgba(37, 31, 66, 0.5) 0%,
        rgba(49, 48, 93, 1) 100%
      );
      box-shadow: 0px 19px 12px -11px rgba(0, 0, 0, 0.25);
      overflow: hidden;

      .exphead,
      .eduhead {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h4 {
          color: rgb(218, 62, 60);
          font-size: 1.3rem;
          margin-bottom: 5px;
        }
        p {
          color: white;
          margin-bottom: 0;
        }
      }

      h6 {
        color: white;
        font-weight: 400;
      }
      p {
        color: white;
        font-size: 0.9rem;
        font-weight: 300;
      }
    }

    .edu-active {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 100%;
      padding: 1rem;
      overflow: hidden;
    }

    .skill-active {
      display: flex;
    }

    .anim-div {
      width: 50%;
      height: 100%;
      overflow: hidden;
    }

    .skill-con {
      width: 600px;
      height: 80px;
      border-radius: 10px;
      background: linear-gradient(
        295deg,
        rgba(37, 31, 66, 0.5) 0%,
        rgba(49, 48, 93, 1) 100%
      );
      box-shadow: 0px 19px 12px -11px rgba(0, 0, 0, 0.25);
      overflow: hidden;
      margin-bottom: 20px;
    }

    .skill {
      padding: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: white;
    }
    .items-con {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    .skillBox {
      width: 80px;
      height: 80px;
      margin: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(255, 255, 255, 0.082);
      border: 1px solid rgba(255, 255, 255, 0.082);
      border-radius: 15px;
      box-shadow: 0px 19px 12px -11px rgba(0, 0, 0, 0.25);
    }

    .icon-html {
      font-size: 3rem;
      color: rgb(255, 123, 0);
    }
    .icon-css {
      font-size: 3rem;
      color: rgb(54, 109, 212);
    }

    .icon-js {
      font-size: 3rem;
      color: rgb(233, 194, 20);
    }

    .icon-react {
      font-size: 3rem;
      color: rgb(62, 194, 235);
    }

    .icon-sass {
      font-size: 2.5rem;
      color: rgb(235, 62, 206);
    }

    .icon-node {
      font-size: 2.5rem;
      color: rgb(22, 209, 109);
    }

    .icon-ex {
      font-size: 1.5rem;
      font-weight: 300;
      color: rgb(22, 209, 109);
    }

    .mongo {
      width: 40px;
    }

    .illus,
    .xd {
      width: 40px;
    }

    .svg-ps {
      width: 40px;
    }
    // ===================================================
    .arrow-1 {
      position: absolute;

      &.arrow-left {
        color: white;
        font-size: 2rem;
        left: 140px;
        top: 50%;
      }
      &.arrow-right {
        color: white;
        font-size: 2rem;
        right: 140px;
        top: 50%;
      }
    }

    .arrow-1:hover {
      color: rgb(206, 43, 40);
    }

    h2 {
      margin-bottom: 30px;
      color: white;
      font-size: 2.5rem;
      position: absolute;
      top: 200px;

      span {
        font-weight: 300;
      }
    }

    .slider {
      height: 350px;
      display: flex;
      position: absolute;
      left: 0px;
      transition: all 1s ease-out;
      .con-work {
        width: 935px;
        display: flex;
        align-items: center;
        justify-content: center;

        .item {
          width: 450px;
          height: 210px;
          padding: 30px;
          background-color: rgb(255, 255, 255);
          border-radius: 10px;

          h1 {
            font-size: 2rem;
            margin-bottom: 10px;
            color: rgb(206, 43, 40);
          }
          p {
            margin-bottom: 10px;
            font-size: 1rem;
            font-weight: 500;
            line-height: 21px;
            color: rgb(38, 44, 63);
          }
        }
      }
    }
  }
}
